@mixin animation ($duration, $effect) {
    -webkit-animation: $duration $effect;
    -moz-animation: $duration $effect;
    -o-animation: $duration $effect;
    animation: $duration $effect;
}

@mixin keyframes ($name) {
    @keyframes $name { @content };
    @-moz-keyframes $name { @content };
    @-webkit-keyframes $name { @content };
}

.view-container {
    position: relative;
}

.view-frame, .view-frame.ng-enter, .view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.view-frame.ng-enter {
    @include animation(1.5s, fade-in);
    z-index: 100;
}
 
.view-frame.ng-leave {
    @include animation(0.5s, fade-out);
    z-index:99;
}

@include keyframes(fade-in) {
    from { opacity: 0; }
    to { opacity: 1; }
}
 
@include keyframes(fade-out) {
    from { opacity: 1; }
    to { opacity: 0; }
}
