.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

.soft-transition {
    -webkit-transition: background .1s, color .2s;
    -moz-transition: background .1s, color .2s;
    -o-transition: background .1s, color .2s;
    transition: background .1s, color .2s;
}
