@import 'animations';
@import 'misc';

$font-family:       'Droid Sans', 'Liberation Sans', sans-serif;
$primary-color:     #6ad;
$secondary-color:   #8ac;
$header-bg:         #000;
$header-color:      #e0e0e0;
$content-bg:        #000;
$content-color:     #f0f0f0;
$side-pad:          8px;

body {
    background: #000 url(../img/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size:cover;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family;
    color: $content-color;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    line-height: 1em;
    color: $header-color;
    background: rgba($header-bg, .8);
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

li {
    a {
        -webkit-transition: background .1s, color .2s;
        -moz-transition: background .1s, color .2s;
        -o-transition: background .1s, color .2s;
        transition: background .1s, color .2s;
        text-decoration: none;
        font-weight: bold;
        &:link {
            color: $primary-color;
        }
        &:visited {
            color: darken(desaturate($primary-color, 20%), 10%);
        }
        &:hover {
            color: $secondary-color;
        }
    }
}

.category-list {
    &>li {
        h2 {
            padding: 0 $side-pad;
            font-size: .8em;
            line-height: 2em;
            margin: 0;
            background: rgba($header-bg, .5);
            color: $header-color;
        }
    }
}

.forum-list, .thread-list {
    &>li a {
        padding: 0 $side-pad;
        display: block;
        line-height: 2em;
        &:link, &:visited {
            background: rgba($content-bg, .6);
        }
        &:hover {
            background: rgba($content-bg, .7);
        }
    }
}

.post-list {
    line-height: 2em;
    .post-info {
        @extend .clearfix;
        padding: 0 $side-pad;
        color: $header-color;
        background: rgba($content-bg, .7);

        .user-name { float: left; }
        .post-date { float: right; }
    }
    .post-content {
        padding: $side-pad;
        background: rgba($content-bg, .6);
        color: $content-color;

        img {
            max-width: 100%;
        }

        blockquote {
            margin: 0;
            padding: $side-pad;
            border: rgba($content-bg, .3) 4px solid;

            & br:first-child { display: none; }
        }
        blockquote + br { display: none; }
    }
}

.page-list {
    background: rgba($header-bg, .8);
    font-size: 1.5em;
    text-align: center;

    &>ul li {
        display: inline;
        
        &>button {
            width: 65px;

            margin: 0;
            padding: 0 15px;
            
            font-size: 1.5em; 
            color: $content-color;

            border: 0;
            background: inherit;

            &:hover {
                color: $primary-color;
            }

            &:active {
                color: rgba($secondary-color, 0.5);
            }
        }
    }
}
