@import 'animations';
@import 'misc';

$font-family:       'Droid Sans', 'Liberation Sans', sans-serif;
$primary-color:     #6ad;
$secondary-color:   #8ac;
$header-bg:         #000;
$header-color:      #e0e0e0;
$content-bg:        #000;
$content-color:     #f0f0f0;
$side-pad:          8px;
$nav-height:        40px;

body {
    background: #000 url(../img/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size:cover;
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family;
    color: $content-color;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    -webkit-transition: background .1s, color .2s;
    -moz-transition: background .1s, color .2s;
    -o-transition: background .1s, color .2s;
    transition: background .1s, color .2s;
    text-decoration: none;
    font-weight: bold;
    &:link {
        color: $primary-color;
    }
    &:visited {
        color: darken(desaturate($primary-color, 20%), 10%);
    }
    &:hover {
        color: $secondary-color;
    }
}

.category-list {
    &>li {
        h2 {
            padding: 0 $side-pad;
            font-size: .8em;
            line-height: 2em;
            margin: 0;
            background: rgba($header-bg, .5);
            color: $header-color;
        }
    }
}

.forum-list, .thread-list {
    &>li {
        &>a {
            @extend .clearfix;
            padding: 0 $side-pad;
            display: block;
            line-height: 2em;
            border-top: rgba($content-color, .1) 1px solid;
            &:link, &:visited {
                background: rgba($content-bg, .6);
            }
            &:hover, &:active {
                background: rgba($content-bg, .7);
            }
            &>.date{
                font-size: .9em;
                color: $content-color;
                font-weight: normal;
            }
        }
        &:nth-child(1) {
            a {
                border: 0;
            }
        }
    }
}

.thread-list {
    margin-bottom: $nav-height;
    margin-top: $nav-height;

    .date {
        float: right;
    }
}

.post-list {
    line-height: 2em;
    margin-bottom: $nav-height;
    margin-top: $nav-height;
    .post-info {
        @extend .clearfix;
        padding: 0 $side-pad;
        color: $header-color;
        background: rgba($content-bg, .7);

        .user-name { float: left; }
        .date { float: right; }
    }
    .post-content {
        padding: $side-pad;
        background: rgba($content-bg, .6);
        color: $content-color;
        word-wrap: break-word;

        img {
            max-width: 100%;
        }

        blockquote {
            margin: 0;
            padding: $side-pad;
            border: rgba($content-bg, .3) 4px solid;

            & br:first-child { display: none; }
        }
        br + blockquote { margin-top: 2px; }
        blockquote + br { display: none; }
    }
}

.nav-bar {
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: $nav-height;
    height: $nav-height;
    padding: 0 $side-pad;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.top-bar {
    @extend .nav-bar;
    top: 0;
    background: rgba($header-bg, .8);
    text-align: left;
}

.page-list {
    @extend .nav-bar;
    bottom: 0;
    font-size: 2em;
    background: rgba($header-bg, .7);

    &>ul li {
        display: inline;

        &>span, &>button {
            margin: 0;
            padding: 0 .5em;
        }

        &>button {
            @extend .soft-transition;
            color: $content-color;
            border: 0;
            font-size: inherit;
            background: inherit;

            &:hover {
                color: $primary-color;
                background: rgba($header-bg, .2)
            }

            &:active {
                color: rgba($secondary-color, .5);
            }

            &:disabled {
                color: rgba($secondary-color, .3);
                background: inherit;
            }
        }
    }
}
