<div class="top-bar">
    <a ng-href="#/">Main</a>
    &raquo;
    {{forum.title}}
</div>
<ul class="thread-list">
    <li ng-repeat="thread in threads">
        <a user-data="{{thread.user}}" ng-href="#thread/{{thread.id}}">
            <div class="title">
                {{thread.title}}
            </div>
            <div class="count">
                {{thread.postCount - 1}} replies, {{thread.viewCount}} views
            </div>

            <div class="user-name">
                by {{user.name}}
            </div>
            <div class="date">
                {{thread.lastPostDate | amDateFormat: 'MMM D YYYY'}}
            </div>
        </a>
    </li>
</ul>
<div class="page-list">
    <ul>
        <li><button ng-disabled="currentPage <= 1" button-href="forum/{{forumId}}/1">&laquo;</button></li>
        <li><button ng-disabled="currentPage <= 1" button-href="forum/{{forumId}}/{{currentPage - 1}}">&lsaquo;</button></li>
        <li><span>{{currentPage}}</span></li>
        <li><button ng-disabled="currentPage >= pageCount" button-href="forum/{{forumId}}/{{currentPage + 1}}">&rsaquo;</button></li>
        <li><button ng-disabled="currentPage >= pageCount" button-href="forum/{{forumId}}/{{pageCount}}">&raquo;</button></li>
    </ul>
</div>
